
	<!--banner-starts-->
    {% extends 'Header_Footer.html' %}
    {% block viewlink %}
    {% load static %}
    <div class="banner-1">
            
        </div>
        <!--banner-end-->
    <!--contact-->
        <center><div class="Registeration">
            <br><br><br>
    <a href="/view_panchayat/"  ><input type="button" value="View Panchayats"></a>&nbsp;&nbsp;
    <a href="/view_worker/" ><input type="button" value="View Workers"></a>&nbsp;&nbsp;
    <a href="/view_food/" ><input type="button" value="View Food needs"></a>&nbsp;&nbsp;
    <a href="/view_vacc/" ><input type="button" value="View Vaccinations"></a>
    </div>
    <br><br><br>
    {% endblock %}